---
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
{% include AdSense.html %}
<!-- {% include adfly.html %} -->
</head>

<body>

	<!----[ Kindlet Area ]------------------------------------------------------------------------->

<div id="kindletDiv" class="kindlet" style="width: 320px;">
{{ content }}
{% include contact.html %}
{% include paypal.html %}
</div>
</body>

</html>
