---
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	{% include AdSense.html %}
	
	

<script type="text/javascript"> 
    var adfly_id = 19827261; 
    var adfly_advert = 'banner'; 
    var frequency_cap = 5; 
    var frequency_delay = 5; 
    var init_delay = 3; 
    var popunder = false; 
</script> 
<script src="https://cdn.adf.ly/js/entry.js"></script> 

</head>

<body><div class="post">
	{{ content }}
</div></body>

</html>
