---
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
{% include AdSense.html %}
{% include adfly.html %}
</head>

<body>
<div id="postDiv" class="post">
{{ content }}
{% include contact.html %}
{% include paypal.html %}
</div>
<script>
	var postDivElement = document.getElementById("postDiv");
	function resizePostDiv() { postDivElement.style.width = window.innerWidth + "px"; }
	window.addEventListener("resize", resizePostDiv, false);
	resizePostDiv();
</script>
</body>

</html>
